@font-face {
    font-family: 'NEXT_ART_Heavy', sans-serif;
    src: url('../fonts/NEXT_ART_Heavy.woff2') format('woff2'),
         url('../fonts/NEXT_ART_Heavy.woff') format('woff');
    font-weight: 900;
    font-display: swap;
}