html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #000;

    background-color: #fff;

    position: relative;
    position: relative;
    z-index: 100;
}
.container {
    max-width: 1290px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.btn {
    padding: 18px 38px;

    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    color: #fff;

    background-color: $green;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;

    transition: all 0.2s linear;

    &:hover {
        box-shadow: 0px 10px 10px rgba(#1e5f5d, 0.4);
    }
    &:focus {
        box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.15);
    }
}
.section-title {
    display: inline-block;

    font-family: "NEXT_ART_Heavy", sans-serif;
    font-weight: 900;
    color: #000;
    z-index: 100;

    position: relative;

    h1 {
        font-size: 50px;
        line-height: 1.3;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    h2 {
        font-size: 24px;
        line-height: 1.4;
        text-transform: uppercase;
        z-index: 100;
    }
    h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;
    }
    &--gray {
        color: $gray-dark;
    }
    &--non-bg {
        margin-bottom: 30px;
        h2::before {
            display: none;
        }
    }
}
.section__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 346px;
    width: 100%;
    background: url(../images/ways-bg-1.svg) center no-repeat;
    position: relative;

    &-photo {
        max-height: 266px;
        max-width: 354px;
        width: 100%;

        &--item-3 {
            height: 245px;
        }
        &--item-4 {
            width: 300px;
            height: 250px;
        }
    }
    &--non-bg {
        background: none;
    }
    &--item-2 {
        background: url(../images/ways-bg-2.svg) center no-repeat;
    }
    &--item-3 {
        background: url(../images/ways-bg-3.svg) center no-repeat;
    }
    &--item-4 {
        background: url(../images/section-item-bg-4.svg) center no-repeat;
        width: 345px;
        height: 285px;
    }
}


/* Social */
.social__list {
    display: flex;
}
.social__item {
    & + & {
        margin-left: 50px;
    }
}
.social__item {
    width: 20px;
    height: 20px;
}


/* Сontacts */
.contacts {
    max-width: 165px;
    text-align: center;

    &--right {
        text-align: right;
    }
}
.contacts__item {
    margin-top: 14px;
}
.contacts__link {
    &:hover {
        text-decoration: underline;
    }
}


/* Form */
.form__inner {
    max-width: 1050px;
    padding: 80px 105px 80px 105px;
    margin: 0 auto 140px;

    background-color: $yellow-light;
    border-radius: 70px;

    position: relative;
    overflow: hidden;
}
.form__img {
    width: 289px;
    height: 100%;

    background: url(../images/form-1.svg);

    position: absolute;
    top: 0;
    right: 0;
}
.form__btn {
    margin: 0 10px;
}
.form-box {
    max-width: 440px;
}
.form__tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 0 10px;

    text-align: center;

    &-item {
        display: none;
        flex-wrap: wrap;
        &--active {
            display: flex;
        }
    }
    &-btn {
        width: 200px;
        & + & {
            margin-left: 20px;
        }
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.6;

        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        position: relative;

        &::after {
            content: "";
            display: block;
            width: 200px;
            height: 2px;

            background-color: #94c6c4;

            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
        }
        &--active {
            &::after {
                background-color: $green;
            }
        }
    }
}
.form__input {
    padding: 12px 20px;
    width: 200px;
    margin: 0 10px 14px;
    

    color: $gray-dark;
    line-height: 1.6;
    letter-spacing: 1px;
    text-align: left;

    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ffeca0;
    outline: none;

    &--big {
        width: 100%;
    }
}
.form__lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &-box {
        position: relative;
    }
    &-contacts {
        border: 1px solid #ffeca0;
        border-top: none;
        background-color: #fff;
        border-radius: 0 0 10px 10px;

        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
    }
    &-btn {
        margin-bottom: 0;
        border: none;
        border-radius: none;

        transition: all 0.1s linear;

        &:hover {
            background-color: $yellow-light;
        }
    }
}
.form__radio {
    display: flex;
    margin-bottom: 14px;
    padding: 0 10px;

    &-item {
        max-width: 200px;
        width: 100%;
        & + & {
            margin-left: 20px;
        }
    }
    &-input {
        cursor: pointer;
    }
    &-label {
        padding-left: 14px;

        letter-spacing: 1px;
        line-height: 1.6;
        font-size: 16px;
    }
}


/* Tabs-line */
.tabs-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 60px;
    position: relative;

    &::before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;

        background-color: $mint;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__item {
        position: relative;
        width: 10px;
        height: 10px;
    }
    &__btn {
        width: 10px;
        height: 10px;

        border: 2px solid $mint;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        &--active {
            background-color: #236967;
            border: none;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &__title {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }
}
