@media (max-width: 1100px) {
    /* features */
    .features__inner {
        margin-top: 100px;
        flex-direction: column;
    }
    .features__items {
        width: 350px;
        margin: 35px 0;
        & + & {
            margin-left: 30px;
        }
    }
    .features__box {
        display: flex;
        margin-top: 20px;
    }
    .price__items {
        flex-direction: column;
    }
    /* choice */
    .choice__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .choice__content {
        flex-direction: column;
    }
    .choice__item {
        margin-left: 0;
        margin: 20px 0;
    }
    /* offline */
    .offline__items {
        flex-direction: column;
    }
    .offline__item {
        max-width: 500px;
        margin: 10px 0;
    }
}

@media (max-width: 991px) {
    /* global */
    body {
        font-size: 14px;
    }
    .btn {
        font-size: 16px;
        padding: 16px 34px;
    }
    .section-title {
        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
    }
    /* header */
    .burger-container {
        display: flex;
    }
    .header__inner {
        background-color: $yellow-light;
        padding: 30px 15px;
        z-index: 10000;
    }
    .header__logo {
        img {
            width: 195px;
            height: 40px;
        }
    }
    .header__box {
        z-index: 10;
        width: 100%;
        justify-content: space-between;
    }
    .header__menu {
        justify-content: start;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: -505px;
        padding: 40px 0;

        background-color: $yellow-light;
        border-radius: 0px 0px 70px 70px;
        transition: all 0.4s ease-in-out;

        .social {
            margin: 20px 0 40px;
        }
        .contacts {
            display: block;
        }
        &.open {
            transform: translateY(605px);
            top: none;
        }
    }
    .menu__list {
        display: none;
    }
    .menu__mobile {
        display: flex;
    }
    .menu__link {
        font-size: 14px;
        font-weight: 500;
    }
    /* contacts */
    .contacts {
        display: block;
    }
    /* Intro */
    .intro__inner {
        margin-bottom: 80px;
    }
    .intro__header {
        max-width: 500px;
    }
    .intro__img {
        margin-top: 60px;
    }
    .intro__learn {
        flex-direction: column;
        align-items: center;
        &-text {
            font-size: 20px;
        }
        &-item {
            margin-bottom: 60px;
            & + & {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 900px) {
    /* intro */
    .intro__inner {
        flex-direction: column;
    }
    /* form */
    .form__img {
        right: -150px;
    }
    /* ways */
    .ways__inner {
        flex-direction: column;
        &--reverse {
            flex-direction: column-reverse;
        }
        .section__img-photo {
            width: 100%;
        }
    }
    .ways__box {
        flex-direction: column;
    }
    .ways__item {
        max-width: 350px;
        margin-bottom: 30px;
        & + & {
            margin-left: 0;
        }
    }
    /* plan */
    .plan__header {
        flex-direction: column;
        .section__img {
            margin-bottom: 60px;
        }
    }
    /* choice */
    .choice__inner {
        padding: 80px 0;
    }
}

@media (max-width: 800px) {
    /* features */
    .features__box {
        flex-direction: column;
    }
    .features__items {
        & + & {
            margin-left: 0;
        }
    }
    .features__item {
        margin: 0;
    }
    /* Footer */
    .footer__inner {
        flex-direction: column;
        align-items: center;

        text-align: center;
        .contacts {
            text-align: center;
        }
    }
    .footer__school {
        order: -1;
        &-logo {
            img {
                width: 200px;
                height: 40px;
            }
        }
    }
    .footer__lang {
        margin: 50px 30px;
    }
}

@media (max-width: 731px) {
    .burger {
        display: flex;
    }
    /* plan */
    .plan__item {
        &::after {
            display: none;
        }
    }
    /* form */
    .form__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 40px;
    }
    .form__img {
        display: none;
    }
}

@media (max-width: 650px) {
    /* global */
    .section-title {
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 18px;
        }
        h3 {
            font-size: 14px;
        }
    }
    /* intro */
    .intro__header {
        padding-top: 40px;
        padding-right: 0;
    }
    .intro__inner {
        margin-bottom: 50px;
    }
    .intro__learn {
        margin-bottom: 40px;
        &-item {
            margin-bottom: 40px;
        }
    }
    .intro__img {
        margin-top: 40px;
    }
    /* learn */
    .learn__inner {
        margin: 50px 0 30px;
        padding: 30px 30px;
    }
    /* form */
    .form__inner {
        margin-bottom: 50px;
        .section-title {
            h2 {
                font-size: 18px;
            }
        }
        .form__radio-label {
            font-size: 14px;
            padding-left: 8px;
        }
        .form__tabs-btn {
            font-size: 16px;
            width: 100%;
            &::after {
                width: 100%;
            }
        }
        .form__input {
            width: 100%;
        }
    }
    /* features */
    .features__inner {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .features__items {
        width: 100%;
        &--big {
            width: 100%;
        }
    }
    .features__item {
        img {
            margin-right: 10px;
        }
    }
    /* smart */
    .smart__inner {
        margin-bottom: 40px;
    }
    .smart__items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .smart__item {
        margin-bottom: 25px;
        &-title {
            font-size: 16px;
        }
    }
    /* choice */
    .choice__inner {
        padding: 40px 0;
    }
    /* history */
    .history__content {
        margin-top: 50px;
    }
    .history__inner {
        margin-bottom: 40px;
    }
    .history__item {
        flex-direction: column-reverse;
        .section-title {
            margin-bottom: 10px;
        }
    }
    /* tabs */
    .tabs-line {
        margin-bottom: 20px;
    }
    /* complexity */
    .complexity__inner {
        flex-direction: column;
        padding: 40px 15px;
        &--mb-140 {
            margin-bottom: 60px;
        }
    }
    .complexity__content {
        text-align: center;
        margin-bottom: 40px;
    }
    /* result */
    .result__inner {
        padding: 50px 0;
    }
    .result__item {
        margin: 10px;
        padding: 20px 30px;
        width: 300px;
        &-icon {
            margin-bottom: 10px;
        }
    }
    /* ways */
    .ways__inner {
        margin-bottom: 50px;
    }
    /* plan */
    .plan__inner {
        margin-bottom: 50px;
    }
    /* price */
    .price__inner {
        padding-bottom: 50px;
    }
    .price__item {
        margin: 10px;
        max-width: 300px;
        max-height: 400px;
    }
    /* offline */
    .offline__inner {
        margin-bottom: 60px;
    }
    .offline__items {
        margin-top: 20px;
    }
    .offline__item {
        margin: 0;
    }
    /* willDo */
    .willDo__inner {
        padding-bottom: 60px;
    }
    .willDo__items {
        margin-top: 20px;
    }
    .willDo__item {
        margin: 10px;
    }
    /* footer */
    .footer__rights {
        padding-bottom: 30px;
    }
}

@media (max-width: 450px) {
    /* Global */
    .container {
        padding: 0 10px;
    }
    .section__img {
        background: none;
        &--item-2 {
            background: none;
        }
        &-photo {
            &--item-3 {
                height: 100%;
            }
        }
    }
    /* header */
    .header__logo {
        margin-right: 0;
    }
    /* intro */
    .intro__header {
        padding-top: 30px;
    }
    .intro__title {
        margin-bottom: 10px;
    }
    /* features */
    .features__items {
        margin: 20px 0;
    }
    .features__item {
        & + & {
            margin-top: 15px;
        }
    }
    /* form */
    .form__inner {
        padding: 45px 15px;
        text-align: center;
    }
}
